body {
background:#f9f9f9;
margin:0;
padding:0;
}

p {
clear:both;
color:#666;
font-family:Georgia,serif;
font-size:11px;
line-height:18px;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:0;
padding:0;
}

a:link,a:visited {
font-family:Arial, sans-serif;
font-variant:small-caps;
color:#809dba;
text-decoration:none;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
}

a:hover,a:active {
font-family:Arial, sans-serif;
font-variant:small-caps;
color:#809dba;
text-decoration:underline;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
}

.clearer {
clear:both;
}

small {
font-family:Arial, sans-serif;
font-variant:small-caps;
color:#809dba;
}

#content {
width:570px;
border:1px solid #e4e4e4;
background:transparent url(../img/bg.png) repeat -350px -350px;
text-align:center;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:100px auto;
padding:30px;
}

#download {
width:290px;
border:1px solid #e4e4e4;
background:transparent url(../img/w.png) left top repeat;
text-align:center;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:0 auto;
padding:20px;
}

#buttons {
text-align:center;
color:#333;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:0;
padding:25px 0 0;
}

#vers {
font-family:Georgia, serif;
font-size:14px;
font-weight:700;
color:#809dba;
text-align:center;
border:1px solid #fff;
background:transparent url(../img/v_bg.png) left top repeat-x;
width:80px;
height:20px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:5px auto;
padding:0;
}

.button {
clear:both;
position:relative;
display:block;
width:290px;
height:64px;
background-image:url(../img/download.png);
background-position:0 0;
cursor:pointer;
}

.button span.hover {
position:absolute;
display:block;
width:290px;
height:64px;
background-image:url(../img/download.png);
background-position:bottom;
}

.changelogbutton {
float:left;
width:167px;
height:64px;
display:block;
background-image:url(../img/buttons.png);
background-position:top left;
}

.changelogbutton span.hover {
position:absolute;
display:block;
width:167px;
height:64px;
background-position:bottom left;
background-image:url(../img/buttons.png);
}

.screenshotsbutton {
float:left;
width:168px;
height:64px;
display:block;
background-image:url(../img/buttons.png);
background-position:-167px 0;
}

.screenshotsbutton span.hover {
position:absolute;
display:block;
width:168px;
height:64px;
background-position:-167px -64px;
background-image:url(../img/buttons.png);
}

.videobutton {
float:left;
width:235px;
height:64px;
display:block;
background-image:url(../img/buttons.png);
background-position:top right;
}

.videobutton span.hover {
position:absolute;
display:block;
width:235px;
height:64px;
background-position:bottom right;
background-image:url(../img/buttons.png);
}

#os {
border:0;
}

#dbox {
font-family:Georgia, serif;
font-size:12px;
font-weight:400;
width:560px;
margin:5px auto;
}

#dlist {
font-family:Arial, sans-serif;
font-variant:small-caps;
color:#809dba;
border:1px solid #809dba;
background:transparent url(../img/myc_v3_3d_20o.png) repeat-x -200px -120px;
width:545px;
height:300px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:0 auto;
padding:0;
}

#dtable {
font-family:Arial, sans-serif;
font-size:12px;
font-variant:small-caps;
color:#809dba;
border:0;
border-bottom:1px solid #809dba;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
margin:5px auto;
padding:5px;
}

.dload {
width:109px;
height:24px;
display:block;
background-image:url(../img/download48.png);
background-position:top;
}

.dload:hover {
width:109px;
background-position:bottom;
height:24px;
background-image:url(../img/download48.png) no repeat;
}

.error,.alert,.notice,.success,.info {
margin-bottom:1em;
border:2px solid #ddd;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
text-shadow:1px 1px 3px #e4e4e4;
filter:dropshadow(color=#e4e4e4, offx=1, offy=1);
padding:0.8em;
}

.error,.alert {
background:#fbe3e4;
color:#8a1f11;
border-color:#fbc2c4;
}

.notice {
background:#fff6bf;
color:#514721;
border-color:#ffd324;
}

.success {
background:#e6efc2;
color:#264409;
border-color:#c6d880;
}

.info {
background:#d5edf8;
color:#205791;
border-color:#92cae4;
}

.error a,.alert a {
color:#8a1f11;
}

.notice a {
color:#514721;
}

.success a {
color:#264409;
}

.info a {
color:#205791;
}